.date-container {
  display: flex;
  justify-content: center;
  align-items: start;
  overflow-x: hidden;
  min-height: 88vh;
  margin-top: 10px;
}

.date-content {
  background: var(--card-color);
  color: var(--font-color);
  border-radius: 10px;
  border: 0.5px solid var(--dest-color);
  width: 60vw;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.227);
}

.date-card-frase {
  padding: 10px;
}

.date-frase {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--font-color);
}

.date-time {
  font-family: "Montserrat", sans-serif;
}

.date-btn {
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  background: var(--bg-color);
  border: 0.5px solid var(--dest-color);
  color: var(--font-color);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.date-btn:hover {
  background: var(--dest-color);
  color: var(--font-color);
  transition: 250ms;
}

@media screen and (max-width: 768px) {
  .date-container {
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .date-content {
    display: flex;
    justify-content: center;
    width: 90vw;
  }

  .date-card-frase {
    text-align: center;
    color: var(--font-color);
  }

  .date-frase {
    font-size: 12px;
  }

  .date-card-btn {
    display: flex;
    padding: 5px;
    justify-content: center;
  }

  .date-btn {
    font-size: 12px;
    width: 100px;
  }
}
