.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100vw;
  overflow-x: hidden;
}

.date-content {
  background: var(--card-color);
  color: white;
  border-radius: 10px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.227);
}

.date-card-frase {
  padding: 30px;
}

.date-frase {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  color: var(--font-color);
}

.date-card-time {
  padding: 30px;
}

.date-time {
  font-family: "Montserrat", sans-serif;
}

.date-card-btn {
  padding: 30px;
}

.date-btn {
  padding: 15px;
  border-radius: 15px;
  width: 300px;
  background: var(--dest-color);
  border: none;
  color: var(--font-color);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.date-btn:hover {
    background: var(--bg-color);
    color: var(--font-color);
    transition: 250ms;
}

@media screen and (max-width: 768px) { 
  .date-content {
    padding: 10px;
  }

  .date-frase {
    font-size: 16px;
  }

}