.about-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/imagens/acamp-photo2.png");
    background-size: cover;
    background-position: center;
}

.about-content {
    background: var(--bg-color);
    padding: 20px;
    width: 55vw;
    border-radius: var(--border-rad);
    border: var(--border-def);
    color: var(--font-color);
}

@media screen and (max-width: 768px) {
    .about-content {
        width: 90vw;
    }

    .about-title {
        font-size: 16px;
        padding: 20px;
        color: brown;
    }

    .about-txt {
        font-size: 14px;
    }
}