.home-container {
  display: flex;
  background-image: url("../../assets/imagens/acamp-photo2.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.home-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 60px;
}

.home-frase {
  background-image: url("../../assets/imagens/migcard.png");
  background-position: center;
  background-size: 1000px;
  width: 55vw;
  height: 28vh;
  border-radius: 10px;
  border: 0.5px solid var(--dest-color);
  display: flex;
  justify-content: center;
  align-items: end;
  transition: 350ms;
}

.home-frase:hover {
  background-size: 1050px;
}

.home-date {
  color: var(--font-color);
}


.frase {
  font-size: 50px;
}

.home-name {
  color: brown;
  font-size: 40px;
}

.home-conv {
  color: var(--font-color);
  text-decoration: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}

.home-link {
  text-decoration: none;
  color: brown;
  font-weight: 500;
  transition: 250ms;
}

.home-link:hover {
  color: white;
}

.home-btn:hover {
  background: var(--font-color);
  color: var(--bg-color);
}

.btn-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-rede {
  color: var(--font-color);
}

.home-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .home-container {
    background-position: center;
  }
  
  .home-content {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }
  
  .nav-mobile {
    background: var(--bg-color);
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.348);
    border: 0.5px solid var(--dest-color);
    padding: 5px;
  }

  .nav-user-mob {
    color: var(--font-color);
    font-size: 13px;
    font-weight: 700;
  }

  .nav-item-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--font-color);
    text-decoration: none;
    font-size: 10px;
  }

  .nav-item-mobile {
  }

  .nav-p {
  }

  .nav-login-register {
    background: var(--bg-color);
    display: flex;
    gap: 10px;
    justify-content: space-around;
    width: 90vw;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.348);
  }

  .nav-item-login,
  .nav-item-register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 10px;
    color: var(--font-color);
    text-decoration: none;
  }

  .home-frase {
    background-image: url("../../assets/imagens/migcard.png");
    width: 90vw;
    height: 30vh;
    padding: 2px;
    margin-top: 0;
    background-size: 600px;
  }

  .home-frase:hover {
    background-size: 650px;
  }

  .home-name {
    text-align: center;
    font-size: 22px;
  }
  
  .home-conv {
    padding: 10px;
    font-size: 12px;
    margin-top: 10px;
    width: 50vw;
  }

  .frase {
    font-size: 16px;
    text-align: center;
  }

  .btn-redes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .redes {
    width: 15vw;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 5px;
  }
}
