.redes-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/imagens/acamp-photo2.png");
  background-size: 3500px;
  background-position: center;
}

.redes-content {
  background: var(--bg-color);
  padding: 30px;
  border-radius: var(--border-rad);
  border: var(--border-def);
  color: var(--font-color);
}

.redes-title {
  text-align: center;
  padding: 20px;
  color: brown;
}

.redes-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icons {
  border: 1px solid var(--dest-color);
  color: var(--font-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  transition: 250ms;
}

.icons:hover {
  background: var(--btn-color);
}

@media screen and (max-width: 768px) {
  .redes-container {
  }

  .redes-content {
    width: 90vw;
    padding: 20px;
  }

  .redes-title {
    text-align: center;
    color: brown;
  }

  .redes-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .icons {
    color: var(--font-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 80vw;
  }

  .rede-name {
    text-decoration: none;
    color: var(--font-color);
  }
}
