.about-container {
  background: var(--bg-color);
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 10px;
  padding: 20px;
  border: 0.5px solid var(--dest-color);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.654);
  width: 55vw;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.about-text {
  width: 21vw;
  padding: 10px;
  font-size: 12px;
}

.about-vs {
  color: brown;
}

.about-image {
  background-image: url("../../assets/imagens/acamp-photo-3.png");
  background-size: cover;
  width: 30vw;
  height: 30vh;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.32);
}

@media screen and (max-width: 768px) {
  .about-container {
    width: 80vw;
  }

  .about-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .about-text {
    width: 70vw;
    text-align: center;
  }

  .text {
    font-size: 10px;
    max-width: 70vw;
  }

  .about-image {
    width: 75vw;
    padding: 10px;
    border-radius: 3px;
  }

  .about-vs {
  }
}
