.header-container {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.506);
  background: var(--card-color);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
}

.header-logo-img {
}

.logo-img {
  width: 100px;
  transition: 250ms;
}

.nav-content {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.nav-item:hover {
  color: rgb(204, 203, 203);
}

@media screen and (max-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-content,
  .nav-item {
    display: none;
  }

  .logo-img {
    width: 80px;
  }
}
