.header-container {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.506);
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: absolute;
  border-bottom: 0.5px solid var(--dest-color);
}

.header-logo-img {
}

.logo-img {
  width: 60px;
  transition: 250ms;
}

.nav-container {
  overflow: hidden;
}

.nav-content {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.nav-item:hover {
  color: rgb(204, 203, 203);
}

.nav-item-log {
  background: rgb(180, 24, 24);
  text-decoration: none;
  color: var(--font-color);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.436);
  display: flex;
  align-items: center;
}

.nav-item-log:hover {
  background: var(--font-color);
  color: brown;
  transition: 450ms;
}

@media screen and (max-width: 768px) {
  .header-container {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.5px solid var(--dest-color);
  }

  .nav-mobile {
  }

  .nav-item-icon {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .nav-content,
  .nav-item {
    display: none;
  }

  .nav-item-mobile {
    color: var(--font-color);
  }

  .logo-img {
    width: 60px;
  }
}
