.home-container {
  display: flex;
  background-image: url("../../assets/imagens/acamp-photo2.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.home-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 60px;
}

.home-date {
  color: var(--font-color);
}

.home-frase {
  color: var(--font-color);
}

.frase {
  font-size: 50px;
}

.home-name {
  color: rgba(255, 0, 0, 0.671);
  font-size: 40px;
}

.home-btn {
  color: var(--font-color);
  text-decoration: none;
  background: rgb(149, 14, 14);
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.348);
  text-align: center;
}

.home-btn:hover {
  background: var(--font-color);
  color: rgb(149, 14, 14);
  transition: 250ms;
}

.btn-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-rede {
  color: var(--font-color);
}

@media screen and (max-width: 768px) {
  .home-container {
    display: flex;
    align-items: center;
    background-position: center;
    margin-top: 50px;
  }

  .home-content {
    display: flex;
    align-items: center;
  }

  .home-name {
    text-align: center;
    font-size: 22px;
  }

  .frase {
    font-size: 16px;
    text-align: center;
  }

  .btn-redes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .redes {
    width: 15vw;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 5px;
  }
}
