.home-container {
  display: flex;
  height: 100vh;
  background-image: url("../../assets/imagens/acamp-photo2.png");
  background-size: cover;
  width: 100vw;
  flex-direction: column;
  gap: 150px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.home-content {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.home-date {
  color: var(--font-color);
  margin-top: 10px;
}

.home-frase {
  color: var(--font-color);
}

.frase {
  font-size: 50px;
}

.home-name {
  color: rgba(255, 0, 0, 0.671);
  font-size: 40px;
}

.home-btn {
  color: var(--font-color);
  text-decoration: none;
  background: rgb(149, 14, 14);
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.348);
  text-align: center;
  margin-top: 30px;
}

.home-btn:hover {
  background: var(--font-color);
  color: rgb(149, 14, 14);
}

@media screen and (max-width: 768px) {
  .home-content {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 300px;
  }

  .home-frase {
  }

  .home-name {
    text-align: center;
  }

  .frase {
    font-size: 20px;
  }

  
}
