.footer-container {
  border-top: 0.5px solid var(--btn-color);
  /* background: var(--bg-color); */
}

.footer-content {
  background: rgb(0, 0, 0);
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.footer-redes {
  width: 60vw;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-icon {
  color: var(--font-color);
}

.footer-icon:hover {
  color: brown;
}

.footer-cred {
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--font-color);
}

.footer-name {
  font-size: 12px;
}

.name {
  text-decoration: none;
  color: var(--font-color);
}

.name:hover {
  color: rgb(66, 138, 245);
}

@media screen and (max-width: 768px) {
  .footer-content {
    border-top: 0.5px solid var(--dest-color);
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }

  .footer-redes {
    display: none;
  }

  .footer-cred {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-name {
    font-size: 9px;
  }
}
