* {
  margin: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
}

.loading {
  background-image: url("./assets/imagens/acamp-photo2.png");
  background-position: center;
  transition: 500ms;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-img {
  width: 100px;
}

.loading-p {
  color: var(--font-color);
  font-size: 14px;
}