@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg-color: #0D0D0D;
    --card-color: #262626;
    --dest-color: #444141;
    --btn-color: #585859;
    --font-color: #e2e2e3;
}