@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg-color: #0D0D0D;
    --card-color: #262626;
    --dest-color: #D9D9D9;
    --btn-color: #585859;
    --ext-color: #A4A5A6;
}